* {
  font-family: "Open Sans" !important;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

#colora:hover,
#colorb:hover {
  color: rgb(173, 238, 173) !important;
}

.nav-link {
  color: rgb(50, 255, 50) !important;
  font-size: 102.5%;
  font-kerning: none;
}

.navbar-nav > li {
  padding-left: 10px;
  padding-right: 10px;
}

.jumbotron1 {
  background-image: url(/Assets/img/background.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
  padding-top: 20%;
  /* padding-bottom: 20%; */
  height: 100%;
}

#About {
  padding-top: 5%;
  padding-bottom: 5%;
  height: auto;
}

#About img {
  width: 80%;
}

#About h5 {
  padding-top: 2.5%;
}

.h1color,
.pcolor,
#wow {
  color: rgb(3, 219, 3);
  font-weight: bolder;
  text-shadow: -1px -1px 0 #343a40, 1px -1px 0#343a40, -1px 1px 0#343a40,
    1px 1px 0 #343a40;
}

.pcolor,
#wow {
  text-shadow: -1px -1px -2 rgb(13, 75, 33), 1px -1px -2 rgb(13, 75, 33),
    -1px 1px -2 rgb(13, 75, 33), 1px 1px -2 rgb(13, 75, 33);
}

.sosmedcon img {
  width: 3rem;
}

#h1Or {
  font-size: 3rem;
}

h3 {
  padding-top: 2rem;
}

.jumbotron {
  text-align: center;
  margin-bottom: -1%;
}

.jumbotron img {
  width: 80%;
  padding-top: 10%;
}

@media (max-width: 992px) {
  #project1 {
    display: none;
  }
}
@media (min-width: 992px) {
  #project2 {
    display: none;
  }
}

#project1 img:hover,
#project2 img:hover {
  opacity: 0.3;
}

#Organ {
  background-color: #343a40;
  color: whitesmoke;
}

.list-unstyled li a {
  font-size: 1.25rem;
  color: whitesmoke;
}

footer {
  text-align: center;
  background-color: #343a40;
  color: rgb(50, 255, 50);
  vertical-align: middle;
}

footer h3 {
  margin: 0;
  padding-top: 1%;
  padding-bottom: 1%;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #343a40;
  color: rgb(50, 255, 50);
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  border: solid rgb(50, 255, 50);
}

#myBtn:hover {
  background-color: #555;
}
